<!DOCTYPE html>
<html>
<%= render 'layouts/head' %>

<body>

<%= render 'layouts/nav' %>
<%= render  'layouts/flash' %>
<div class="container-fluid page-wrapper">
  <%= yield %>
</div>

<%= render 'layouts/footer' %>
</body>
</html>