<!DOCTYPE html>
<html>
<%= render 'layouts/head' %>

<body>

<%= render 'layouts/nav' %>
<%= render  'layouts/flash' %>
<div class="container-fluid page-wrapper">
  <%= yield %>
</div>

<%= render 'layouts/footer' %>
  <script type="text/javascript">
  $(document).on('turbolinks:load', function() {
    $('.alert').delay(2000).fadeOut(3000);
  });
  </script>
</body>
</html>